body {
  background-color: #121212;
}

.App {
  display: flex;
  position: relative;
  margin: 60px;
  // width: 100vw;
  height: 100vh;
  background-color: #121212;
}

.introContainer {
  position: fixed;
  height: 400px;
  width: 300px;
  margin-right: 60px;
  padding: 24px;
  background-color: blue;
}

.navContainer {
  margin-top: 24px;
}

.projectsContainer {
  position: absolute;
  margin-left: 450px;
  padding: 40px;
}

@media screen and (max-width: 767px) {
}
