$lg: 992px;
$text-color: #ffffff;
$back-color: #000000;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $back-color;
  display: block;
  //   margin: 50px;
  //   margin-top: 60px;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
  margin-top: 60px;
}

.introContainer {
  margin: 24px;
  margin-bottom: 0px;
}

.navContainer {
  margin: 0px 24px 24px 24px;
  padding: 16px;
}

.sideBarContainer {
  flex: 2;
}

.sideBar {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  min-height: 450px;
  min-width: 350px;
  width: 350px;
  max-width: 350px;
  text-decoration: none;
}

.navContainer,
a {
  text-decoration: none;
}

.buttonContainer,
button {
  width: 100%;
  justify-content: left !important;
}

.main {
  top: 60px;
  margin-top: 0px;
}

.projectsContainer {
  width: 100%;
  min-width: 550px;
  margin-bottom: 60px;
  margin: 0px 40px 40px 0px;
}

.description {
  margin: 0px 30px 0px 30px;
}

.chips {
  margin: 0px 36px 36px 36px;
}

.bottomNav {
  display: none;
}

.contact {
  padding-top: 24px;
}

@media screen and (max-width: $lg) {
  .App {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .sideBar {
    min-height: 180px;
    min-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .navContainer {
    display: none;
  }

  .projectsContainer {
    min-width: 350px;
    margin-bottom: 60px;
    margin: 0px 40px 40px 0px;
  }

  .bottomNav {
    display: block;
    min-width: 350px;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    position: -webkit-sticky;
    position: sticky;
    border-width: 1px;
    bottom: 0;
  }

  .bottomNav a {
    margin: 6px;
  }

  .outlineNav {
    border-style: solid;
    border-color: #fff;
    // background: rgba(0, 0, 0, 0.76);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
