$lg: 992px;
$sm: 576px;
$text-color: #fff;
$back-color: #000;

* {
  margin: 0;
  padding: 0;
}

// .videoContain {
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   z-index: -1;
// }

// video {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $back-color;
  display: block;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
  margin-top: 60px;
}

.introContainer {
  margin: 24px;
  margin-bottom: 0px;
}

.intro {
  display: none;
}

.navContainer {
  margin: 0px 24px 24px 24px;
  padding: 16px;
}

.sideBarContainer {
  flex: 2;
}

.sideBar {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  min-height: 450px;
  min-width: 350px;
  width: 350px;
  max-width: 350px;
  text-decoration: none;
}

.navContainer,
a {
  text-decoration: none;
}

.main {
  top: 60px;
  margin-top: 0px;
}

.projectsContainer {
  width: 100%;
  min-width: 200px;
  margin-bottom: 40px;
}

.description {
  margin: 0px 30px 0px 30px;
}

.sideBar,
button {
  width: 100%;
}

.bottomNav {
  display: none;
}

.contact {
  padding-top: 24px;
}

.projectMain {
  max-width: 600px;
  width: 600px;
  min-width: 350px;
}

// .topNav {
// }

.headerBack {
  justify-content: center;
  float: left;
}

.title {
  object-fit: contain;
  position: absolute;
  display: block;
}

.topNav {
  // align-items: center;
  box-sizing: border-box;
  z-index: 1100;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(24px);
  border-style: solid;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-width: 0px 0px thin;
  background: rgba(18, 18, 18, 0.91);
}

@media screen and (max-width: $lg) {
  .App {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .intro {
    display: block;
    margin-bottom: 40px;
  }

  .sideBar {
    display: none;
  }

  .navContainer {
    display: none;
  }

  .projectsContainer {
    width: 100%;
    margin: 40px 40px 40px 0px;
  }

  .bottomNav {
    display: block;
    width: 100%;
    padding-bottom: 50px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }

  .outlineNav {
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-style: solid;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    // background: rgba(18, 18, 18, 0.91);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .outlineNav .pill {
    border-radius: 30px;
    margin: 6px;
  }

  .outlineNav button {
    // display: flex;
    // width: 100%;
    // border-radius: 26px;
    // margin: 6px;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
  }
}

// background: rgba(37, 37, 37, 0.96);
// border-radius: 26px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(5px);
// -webkit-backdrop-filter: blur(5px);
// border: 1px solid rgba(37, 37, 37, 0.22);

@media screen and (max-width: $sm) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    margin-top: 30px;
  }
}
